# Terraform
terraform-k8s/.terraform/
terraform-k8s/*.tfstate
terraform-k8s/*.tfstate.backup
terraform-k8s/.terraform.lock.hcl

terraform-vm/.terraform/
terraform-vm/*.tfstate
terraform-vm/*.tfstate.backup
terraform-vm/.terraform.lock.hcl

# Gerado pelo Terraform
ansible/inventory.yml

# Credenciais
terraform-k8s/*.tfvars
terraform-vm/*.tfvars

# Logs de execução
logs/

# CA private key - never commit
ansible/k8s-cluster-baremetal/files/pki/*.key
