# Copy this file to terraform.tfvars and fill in your values.
# cp terraform.tfvars.example terraform.tfvars
#
# Only the VM configuration is needed here.
# Proxmox credentials are read from terraform-vm/terraform.tfvars.

vm = {
  name            = "postgres-vm"
  vm_id           = 201
  ip              = "192.168.1.211/24"
  cores           = 2
  memory          = 4096
  disk_size       = 40
  bios            = "ovmf"
  scsi_hardware   = "virtio-scsi-single"
  stop_on_destroy = true
  tags            = ["vm", "postgres"]
}
